################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/File/.vs
/File/File.Application/bin/Debug/net6.0
/File/File.Web.Api/bin/Debug/net6.0
